:host {
  background-color: rgba(0, 0, 0, 0.04);
  width: 100%;
  display: block;
  padding: 3em 18vw;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  :host {
    padding: 1em;
  }
}

header {
  padding: 1em;
  text-align: right;
  p {
    color: #111111;
    font-size: 1.2em;
  }
}

app-section {
  margin: 3em 0;
}

.graphContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#graph {
  grid-column: span 3;
}

.datePicker {
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  border-width: thin;
  padding-left: 1%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  margin-left: 2%;
}

#firstDate {
  margin-left: 5%;
}

#section-trend .divider {
  //display: grid;
  display: block;
  grid-template-columns: 3fr 1fr;
}

#section-trend app-point-graph {
  height: 25em;
}

#section-parliament-composition {

  .divider {
    height: 25em;
    display: flex;
    align-content: center;
    justify-content: center;

    app-parliament-composition {
      align-self: center;
      width: 15em;
    }
  }
}
