ngx-charts-line-chart {
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  font-variant-numeric: tabular-nums;
}

#root {
  width: 100vw;
  height: 100vh;
}

:host ::ng-deep ngx-charts-line-chart  .legend-label-text {
  color: black;
}

:host ::ng-deep .chart-legend .legend-label .active .legend-label-text {
  color: gray;
}
